.DS_Store
vendor/ggml/build/
vendor/espeak-ng/build/
vendor/mlx-c-src/build/
vendor/mlx/
vendor/whisper.cpp/build/
*.wav
nimcache/
nimble.paths
nimble.develop
bin/
src/lib/
src/include/
src/res/data/espeak/
src/res/models/
